In [ ]:
#PROGRAM 1 :

#Write functions to calculate your trip's costs :
#Define a function called hotel_cost with one argument nights as input.
#Define a function called plane_ride_cost that takes a string city, as input.
#Define a function called rental_car_cost with an argument called days.
#Define a funtions called trip_cost that takes two arguments, city and days.
#Like the example above, have your function return the sum of calling the 
#rental_car_cost(days), hotel_cost(days) and plane_ride_cost(city) functions.

days = int(input("enter the no. of days spent : "))
city = input("enter the city you visited : ")

def hotel_cost (days) : 
  cost = days*1200
  print("hotel cost : ",cost)
  return cost
      2 import pandas as pd

def plane_ride_cost (city) :
      2 import pandas as pd
  if city == "Mumbai":
    cost = 4400
  if city == "Delhi":
    cost = 5700
  if city == "Chennai":
    cost = 3670
  if city == "Kolkata":
    cost = 7355
  print("plane ride cost : ",cost)
  return cost

def rental_car_cost (days) :
  cost = days*250
  print("rental car cost : ",cost)
  return cost

def trip_cost (city,days) :
  return rental_car_cost(days)+hotel_cost(days)+plane_ride_cost(city)
print("trip cost : ",trip_cost(city,days))

enter the no. of days spent : 7
enter the city you wanna visit : Mumbai
rental car cost :  1750
hotel cost :  8400
plane ride cost :  4400
trip cost :  14550

In [ ]:
#PROGRAM 2 :

#Write a program in to check a given number is even or odd using the function.

def func(n):
  if (n%2==0):
    print("the number is even")
  else :
    print("the number is odd")

n=int(input("enter the value : "))
func(n)

enter the value : 67
the number is odd

In [ ]:
#PROGRAM 3 :

#Write a function Exchange to interchange the values of two variables, say x and y. 
#Illustrate the use of this function in a calling function.

def exchange(a,b):
  x=a
  a=b
  b=x
  print(a,b)
exchange(2,3)

3 2

In [ ]:
#PROGRAM 4 :

#Write a program to find Sum of natural number using recursion.

def recurSum(n):
  if n<=1:
    return n
  return n + recurSum(n-1)

n = int(input("enter the no. : "))
print(recurSum(n))

enter the no. : 387
75078

In [ ]:
#PROGRAM 5 :

#Write a program to print Fibonacci series number using recursion.

def fibo(n):
  if n <= 1:
    return n
  else :
    return (fibo(n-1)+fibo(n-2))

nterms = int(input("enter value : "))
if nterms <= 0 :
  print("please enter a positive integer")
else : 
  print("fibonacci sequence : ")
  for  i in range (nterms):
    print(fibo(i))

enter value : 6
fibonacci sequence :
0
1
1
2
3
5