In [ ]:
#PROGRAM 1 :

#Write a program on binary search.

def BinarySearch(arr, k, low, high):

  if high >= low:
    mid = low + (high - low)//2
    if arr[mid] == k:
      return mid
    elif arr[mid] > k:
      return BinarySearch(arr, k, low, mid-1)
    else:
      return BinarySearch(arr, k, mid + 1, high)
  else:
    return -1

arr = [1, 3, 5, 7, 9]
k = 5
result = BinarySearch(arr, k, 0, len(arr)-1)
if result != -1:
  print("Element is present at index " + str(result))
else:
  print("Not found")

Element is present at index 2

In [ ]:
#PROGRAM 2 :

#Write a program which performs basic SQL commands.

import sqlite3
connection = sqlite3.connect("gfg.db")
crsr = connection.cursor()
print("Connected to the database")
crsr.execute("DROP TABLE IF EXISTS emp")
sql_command = '''CREATE TABLE emp (staff_number INTEGER PRIMARY KEY,fname VARCHAR(20),lname VARCHAR(30),gender CHAR(1),joining DATE);'''
crsr.execute(sql_command)
crsr.execute( '''INSERT INTO emp VALUES (23, "Rishabh",\"Bansal", "M", "2014-03-28")''')
crsr.execute( '''INSERT INTO emp VALUES (24, "Meridth",\"Grey", "F", "2003-03-04")''')
crsr.execute('''INSERT INTO emp VALUES (1, "Bill", "Gates",\"M", "1980-10-28")''')
connection.commit()
crsr.execute('''SELECT * FROM emp''')
ans = crsr.fetchall()
connection.close()
for i in ans:
  print(i)

Connected to the database
(1, 'Bill', 'Gates', 'M', '1980-10-28')
(23, 'Rishabh', 'Bansal', 'M', '2014-03-28')
(24, 'Meridth', 'Grey', 'F', '2003-03-04')